---
# Copyright (C) 2016-2025 Reto Gantenbein <reto.gantenbein@linuxmonk.ch>
# SPDX-License-Identifier: LGPL-3.0-or-later

- name: '{{ gdnsd__include_zone.domain }} - Read existing forward zone file hash'
  ansible.builtin.shell:
    cmd: 'grep "^; Hash:" /etc/gdnsd/zones/{{ gdnsd__include_zone.domain }} || true'
  changed_when: False
  check_mode: no
  register: gdnsd__register_zone_hash

- name: '{{ gdnsd__include_zone.domain }} - Generate forward zone file'
  ansible.builtin.template:
    src: 'zone.j2'
    dest: '/etc/gdnsd/zones/{{ gdnsd__include_zone.domain }}'
    owner: 'root'
    group: 'root'
    mode: '0644'
  notify:
    - Restart gdnsd
