---

- name: Install gdnsd packages
  apt:
    name: '{{ item }}'
    state: present
  with_items: '{{ gdnsd__packages }}'

- name: gdnsd configuration
  template:
    src: 'etc/gdnsd/gdnsd.config.j2'
    dest: '/etc/gdnsd/gdnsd.config'
    owner: 'root'
    group: 'root'
    mode: '0644'
  notify:
    - Restart gdnsd

- name: Enable and start service
  service:
    name: 'gdnsd'
    enabled: True
    state: started

- name: Read forward zone hashes
  shell: 'grep "^# Hash:" /etc/gdnsd/zones/{{ item.domain }} || true'
  changed_when: False
  always_run: True
  register: gdnsd__register_forward_hashes
  when: (not "reverse_zone" in item) or
        (not item.reverse_zone)
  with_items: '{{ gdnsd__zones
                  if (gdnsd__zones|d([]) | length) > 0
                  else [ {"domain": ansible_domain} ] }}'

- name: Generate forward zones
  template:
    src: 'etc/gdnsd/zones/forward_zone.j2'
    dest: '/etc/gdnsd/zones/{{ item.domain }}'
    owner: 'root'
    group: 'root'
    mode: '0644'
  when: (not "reverse_zone" in item) or
        (not item.reverse_zone)
  with_items: '{{ gdnsd__zones
                  if (gdnsd__zones|d([]) | length) > 0
                  else [ {"domain": ansible_domain} ] }}'

- name: Read reverse zone hashes
  shell: 'grep "^# Hash:" /etc/gdnsd/zones/{{ gdnsd__default_reverse_zone
                                              if (not "reverse_zone" in item)
                                              else item.reverse_zone }} || true'
  changed_when: False
  always_run: True
  register: gdnsd__register_reverse_hashes
  when: gdnsd__reverse_zones|d(True)
  with_items: '{{ gdnsd__zones
                  if (gdnsd__zones|d([]) | length) > 0
                  else [ {"reverse_zone": gdnsd__default_reverse_zone} ] }}'

- name: Generate reverse zones
  template:
    src: 'etc/gdnsd/zones/reverse_zone.j2'
    dest: '/etc/gdnsd/zones/{{ gdnsd__default_reverse_zone
                               if (not "reverse_zone" in item)
                               else item.reverse_zone }}'
    owner: 'root'
    group: 'root'
    mode: '0644'
  when: gdnsd__reverse_zones|d(True)
  with_items: '{{ gdnsd__zones
                  if (gdnsd__zones|d([]) | length) > 0
                  else [ {"reverse_zone": gdnsd__default_reverse_zone} ] }}'
