---
# Copyright (C) 2016-2022 Reto Gantenbein <reto.gantenbein@linuxmonk.ch>
# SPDX-License-Identifier: LGPL-3.0-or-later

- name: Set zone type fact
  ansible.builtin.set_fact:
    gdnsd__fact_zone_type: '{{ lookup("template", "lookup/zone_type.j2") | trim }}'

- name: Fail on invalid zone records
  ansible.builtin.fail:
    msg: 'Zone definition cannot mix PTR and other records'
  when: gdnsd__fact_zone_type not in ['forward', 'reverse']

- name: Include tasks to manage forward zone file
  ansible.builtin.include_tasks: forward.yml
  when: gdnsd__fact_zone_type == 'forward'

- name: Include tasks to manage reverse zone file
  ansible.builtin.include_tasks: reverse.yml
  when: (gdnsd__fact_zone_type == 'reverse') or
        (gdnsd__include_zone['auto_reverse_zone']|d(gdnsd__auto_reverse_zone))
