{#
 # Copyright (C) 2016-2022 Reto Gantenbein <reto.gantenbein@linuxmonk.ch>
 # SPDX-License-Identifier: LGPL-3.0-or-later
 #}
# {{ ansible_managed }}

{% if gdnsd__options|d({}) or gdnsd__listen|d([]) %}
options => {
{%   for _key, _value in gdnsd__options.items() %}
     {{ _key }} => {{ _value }}
{%   endfor %}
{%   if gdnsd__listen|d([]) %}
    listen => [ {{ gdnsd__listen | join(" ") }} ]
{%   endif %}
}
{% endif %}
