{#
 # Copyright (C) 2016 Reto Gantenbein <reto.gantenbein@linuxmonk.ch>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# {{ ansible_managed }}

{% if gdnsd__listen|d([]) %}
options => {
{%   if gdnsd__listen|d([]) %}
    listen => [ {{ gdnsd__listen | join(" ") }} ]
{%   endif %}
}
{% endif %}
